/* Header and Footer */
.container-fluid{
    margin: 0 100px;
}
.header-logo a img {
    margin-left: 14px;
}
.logo2{
    width: 210px;
    height: 250px;
}
.footer-title{
    display: flex;
    margin-top: 50px;
}

.footer-title-text{
    text-decoration: none;
    color: #fff; 
}
.footer-icon{
    width: 46px;
    height: 46px;
    padding-right: 0;
}
.footer-title-desc-r a{
    text-decoration: none;
    margin: 0 5px;
}
.footer-title-desc-r p{
    margin-top: 10px;
}
.footer-title-desc-l a{
    display: block;
    padding-top: 10px;
}
/* Index */
.carousel{
    padding: 0 100px;
}
#carouselExampleSlidesOnly .carousel-item{
    width: 1300px;
    height: 736px;
}
.intro{
    background-color: #212529;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 20px 200px;
}
.product-title,
.news-title,
.video-title,
.team-title,
.intro-title{
    display: flex;
    flex-wrap: nowrap;
}
.news-title h4,
.video-title h4,
.team-title h4{
    border-left: 4px solid #ffc904;
    color: #472F92;
    padding: 0 10px;
    font-size: 30px;  
}
.product-title h4,
.intro-title h4{
    border-left: 4px solid #ffc904;
    color: #ffc904;
    padding: 0 10px;
    font-size: 30px;
    
}
.news-title a,
.video-title a,
.team-title a{
    color: #472F92;
    font-size: 30px;
}
.product-title a,
.intro-title a{
    color: #ffc904;
    font-size: 30px;
}
.intro-content{
    margin-top: 30px;
    color: #fff;
}
.intro-image img{
    width: 530px;
    height: 266px;
    
}
.intro-l{
    margin-right: 25px;
}
.news,
.team{
    background-color: #F0F0F0;
    width: auto;
    height: 500px;
    padding: 20px 200px;

}
.team .carousel{
    margin-top: 30px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color: #472F92;
}
.video{
    width: auto;
    height: 500px;
    margin: 20px 200px;
}
.news .item,
.video .item{
    background-color: #472F92;
    width: 350px;
    height: 320px;
    border-radius: 6px;
    margin-top: 30px;
    
}
.list-product,
.listitem{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.news .item .item-img,
.video .item .item-img{
    width: 350px;
    height: 170px;

}
.item-title{
    padding: 17px 21px ;
    display: flex;
    flex-direction: column;

    
}
.item-title .desc{
    color: #ffc904;
    font-size: 18px;
    font-weight: 500;
    height: 70px;
    flex-grow: 1;
}
.item-title .time{
    color: #fff;
    display: block;
    font-weight: 500;
    margin-top: 30px;
    flex-grow: 0;
}
.product{
    background-color: #472F92;
    width: auto;
    height: 900px;
    padding: 20px 200px;
}
.list-product .item{
    background-color: #fff;
    width: 186px;
    height: 312px;
    margin: 0 30px;
    margin-top: 30px;
}
.list-product .item:hover{
    box-shadow: 2.5px 2.5px 10px 1px #fff;
    cursor: pointer;
}
.list-product .item img{
    width: 182px;
    height: 182px;
}
.product-img .item-img{
    width: 1100px;
    height: 378px;
    margin-top: 30px;
}
.product-img{
    text-align: center;
}
/* Privacy Policy */
.privacy .title{
    margin-top: 100px;
}
.privacy .title h4{
    text-align: center;
    /* width: fit-content; */    
}
.content{
    margin: 0 200px 100px 200px;
    list-style: none;
    line-height: 2.5;
}
.content h6{
    margin-top: 15px;
}